= turbo_frame_tag "establishments-table-frame" do
  .fr-table.fr-table--bordered.stats-table-container.stats-table-sticky
    %table
      %thead
        %tr
          - @establishments_data.first.each_with_index do |header_value, index|
            - header = index > 4 ? (@indicators_metadata[index - 5]&.dig(:title) || header_value) : format_table_header(header_value)
            %th{scope: "col"}
              = header
              - if index > 4 && @indicators_metadata[index - 5]&.dig(:tooltip_key)
                %button.fr-ml-1w.fr-p-1w.fr-btn--tooltip.fr-btn{"aria-describedby" => "tooltip-establishments-#{index}", type: "button"}
                  %span.fr-tooltip.fr-placement{id: "tooltip-establishments-#{index}", role: "tooltip", "aria-hidden" => "true"}
                    = t("tooltips.#{@indicators_metadata[index - 5][:tooltip_key]}")
      %tbody
        - @establishments_data[1..].each do |row|
          - establishment = @establishments_hash[row[0]]
          %tr
            - row.each_with_index do |value, index|
              - indicator_type = index > 4 ? @indicators_metadata[index - 5]&.dig(:type) : nil
              %td{class: (index <= 1 ? "fr-text--sm" : ""), style: (index > 4 ? cell_background_color(value, indicator_type: indicator_type) : "")}
                - if index == 1 && establishment
                  = link_to value, academic_establishment_path(establishment), target: "_blank", rel: "noopener"
                - else
                  = format_stat_value(value, indicator_type: indicator_type)
