- if @students.none?
  %p Aucun résultat trouvé pour la recherche : #{@name}
- else
  .fr-table
    %table
      %caption #{@students.total_count} résultats trouvés pour la recherche : #{@name}
      %thead
        %th{scope: "col"} Élèves
        %th{scope: "col"} Dernière classe
      %tbody
        - @students.each do |student|
          %tr
            %td= dsfr_link_to student.full_name, student_path(student)
            %td
              -if student.current_schooling.nil?
                Aucune scolarité active
              -else
                = student.current_schooling.classe.label

  .fr-mt-3w.d-flex.justify-content-center
    = paginate @students, params: { name: @name }
