- if @students.none?
  %p Aucun résultat trouvé pour la recherche : #{@search}
- else
  .fr-table
    %table
      %caption #{@students.count} résultats trouvés pour la recherche : #{@search}
      %thead
        %th{scope: "col"} Élèves
        %th{scope: "col"} Dernière classe
      %tbody
        - @students.each do |student|
          %tr
            %td= dsfr_link_to student.full_name, student_path(student)
            %td
              // TODO: Risque de N+1 ?
              -if student.current_schooling.nil?
                Aucune scolarité active
              -else
                = student.current_schooling.classe.label
