- content_for(:page_title) { [@page_title, t("pages.titles.classes.show", name: @classe.label)].join(" - ") }

%section
  %h2.fr-h4 Coordonnées bancaires

  - if @student.rib.nil?
    %p Aucune coordonnée bancaire enregistrée pour le moment.

    = link_to "Saisir les coordonnées bancaires", new_class_student_rib_path(@classe.id, @student.id), class: 'fr-btn'
  - else
    %ul
      %li
        Titulaire :
        %span= @student.rib.name
      %li
        IBAN :
        %code= @student.rib.iban
      %li
        BIC :
        %code= @student.rib.bic

    .fr-btns-group.fr-btns-group--inline
      %li= link_to "Modifier les coordonnées bancaires", edit_class_student_rib_path(@classe.id, @student.id, @student.rib.id), class: 'fr-btn fr-btn--secondary'

      %li= link_to "Supprimer les coordonnées bancaires", confirm_deletion_class_student_rib_path(@classe, @student, @student.rib), class: 'fr-btn fr-btn--secondary'

%section.fr-mt-3w
  %h2.fr-h4 Liste des PFMPs de l'élève
  - if @pfmps.none?
    %p Aucune PFMP enregistrée pour le moment.
  - else
    = render partial: 'pfmps/pfmp_student_table'

.actions.fr-py-3w
  .fr-btns-group.fr-btns-group--inline
    = link_to "Ajouter une PFMP", new_class_student_pfmp_path(@classe, @student), class: 'fr-btn'
    - if @student.current_schooling.attributive_decision.attached?
      = link_to "Voir la décision d'attribution", url_for(@student.current_schooling.attributive_decision), class: 'fr-btn fr-btn--secondary', target: :download
