- content_for(:page_title) { [@page_title, t("pages.titles.classes.show", name: @classe.label)].join(" - ") }

%section.fr-mb-3w
  %h2 Coordonnées bancaires

  - if @student.rib.nil?
    %p Aucune coordonnées enregistrées

    = link_to "Renseigner les coordonnées bancaires", new_class_student_rib_path(@classe.id, @student.id), class: 'fr-btn'
  - else
    %dl
      %dt
        %strong IBAN
      %dd= @student.rib.safe_iban
      %dt
        %strong BIC
      %dd= @student.rib.bic

- if @student.pfmps.none?
  %p Aucune PFMP enregistrée pour le moment.
- else
  .fr-table.fr-table--layout-fixed
    %table
      %caption Périodes de formation en milieu professionnel (PFMP)
      %thead
        %th{scope: "col"} Début
        %th{scope: "col"} Fin
        %th{scope: "col"} Nombre de jours
        %th{scope: "col"} Montant
        %th{scope: "col"} État du paiement

      %tbody
        - @student.pfmps.each do |p|
          %tr
            %td= l p.start_date
            %td= l p.end_date
            %td= p.day_count
            %td= p.breakdown
            %td= dsfr_badge(status: payment_status(p)) { t("pfmps.payments.#{p.payment_state}") }

.actions.fr-py-3w
  = link_to "Ajouter une PFMP", new_class_student_pfmp_path(@classe, @student), class: 'fr-btn'
