- content_for(:page_title) { [@page_title, t("pages.titles.classes.show", name: @classe.label)].join(" - ") }

%section
  %h2.fr-h4 Coordonnées bancaires

  - if @student.rib.nil?
    %p Aucune coordonnées bancaires enregistrées pour le moment.

    = link_to "Renseigner les coordonnées bancaires", new_class_student_rib_path(@classe.id, @student.id), class: 'fr-btn'
  - else
    %ul
      %li
        Titulaire :
        %span= @student.rib.name
      %li
        IBAN :
        %code= @student.rib.iban
      %li
        BIC :
        %code= @student.rib.bic

    = link_to "Modifier les coordonnées bancaires", edit_class_student_rib_path(@classe.id, @student.id, @student.rib.id), class: 'fr-btn fr-btn--secondary'

%section.fr-mt-3w
  %h2.fr-h4 Liste des PFMPs de l'élève
  - if @student.pfmps.none?
    %p Aucune PFMP enregistrée pour le moment.
  - else
    = render partial: 'pfmps/pfmp_student_table'

.actions.fr-py-3w
  = link_to "Ajouter une PFMP", new_class_student_pfmp_path(@classe, @student), class: 'fr-btn'
