%section.fr-pb-3w
  %ul
    %li
      %strong INE :
      - if @student.ine_not_found || @student.ine.blank?
        %span= "L'INE de l'élève ne semble plus être valide. Merci de vous rapprocher de votre support académique pour qu'il rétablisse la situation dans SYGNE et APLyPro par la suite."
      - else
        %span= @student.ine
    %li
      %strong Date de naissance :
      %span= l(@student.birthdate)

= render partial: 'ribs/informations', locals: { student: @student }
= render partial: 'pfmps/pfmp_student_table', locals: { schoolings: @schoolings }
