- content_for(:page_title) { [@page_title, t("pages.titles.classes.show", name: @classe.label)].join(" - ") }

%section.fr-mb-3w
  %h2.fr-h4 Coordonnées bancaires

  - if @student.rib.nil?
    %p Aucune coordonnées bancaires enregistrées pour le moment.

    = link_to "Renseigner les coordonnées bancaires", new_class_student_rib_path(@classe.id, @student.id), class: 'fr-btn'
  - else
    %dl
      %dt
        %strong IBAN
      %dd= @student.rib.safe_iban
      %dt
        %strong BIC
      %dd= @student.rib.bic

- if @student.pfmps.none?
  %p Aucune PFMP enregistrée pour le moment.
- else
  = render partial: 'pfmps/pfmp_table', locals: { pfmps: @student.pfmps, for_student: true }

.actions.fr-py-3w
  = link_to "Ajouter une PFMP", new_class_student_pfmp_path(@classe, @student), class: 'fr-btn'
