%section.fr-pb-3w
  %ul
    %li
      %strong INE :
      %span= @student.ine
      - if @student.ine_not_found
        .fr-alert.fr-alert--warning
          = "L'INE ne semble plus être valide. Merci de vous rapprocher de votre support académique pour qu'il rétablisse la situation dans la Base élèves établissement (BEE) ou du support CNERTA pour rétablir la situation dans COLENTAGRI."

    %li
      %strong Date de naissance :
      %span= l(@student.birthdate)

= render partial: 'ribs/informations', locals: { student: @student }
= render partial: 'pfmps/pfmp_student_table', locals: { schoolings: @schoolings }
