.fr-col-6.fr-mb-3w
  = render 'dates_warning'

= form_with model: [@classe, @student, @pfmp], builder: DsfrFormBuilder do |form|
  .fr-col-md-6
    = form.dsfr_error_summary

  = render partial: "pfmp_badges"

  = form.dsfr_date_field(:start_date, width: 'sm-4 md-3 lg-2')
  = form.dsfr_date_field(:end_date, width: 'sm-4 md-3 lg-2')

  = form.dsfr_text_field(:day_count, width: 'md-1 sm-2 xs-2')

  .fr-btns-group.fr-btns-group--inline
    -# = link_to 'Annuler les changements', class_student_pfmp_path(@classe, @student, @pfmp), class: 'fr-btn fr-btn--secondary'
    = form.submit nil, { class: 'fr-btn' }
