- disabled = defined?(editable) ? editable : false

= form_with model: [@classe, @student, @pfmp], builder: DsfrFormBuilder do |form|
  - unless disabled
    = form.dsfr_error_summary

  = form.dsfr_date_field(:start_date, width: 'sm-4 md-3 lg-2', disabled:)
  = form.dsfr_date_field(:end_date, width: 'sm-4 md-3 lg-2', disabled:)

  = form.dsfr_text_field(:day_count, width: 'md-1 sm-2 xs-2', disabled:)

  - unless disabled
    = form.submit nil, { class: 'fr-btn' }
