- @pfmp.payment_requests.order(created_at: :desc).each do |payment_request|
  .gray-panel.fr-p-3w.fr-mb-3w
    = render partial: "payment_requests/badges", locals: { payment_request: payment_request }

    .fr-mt-1w
      = payment_request.status_explanation

    - if payment_request.in_state?(:paid)
      - metadata = payment_request.last_transition.metadata
      .fr-mt-2w.gray-text
        - if payment_request.recovery?
          Montant réclamé :
          %strong= number_to_currency(metadata["ORDREREVERSEMENT"]["MTDEMANDEOR"].to_f.abs)
        - else
          Montant réellement versé :
          %strong= number_to_currency(metadata["PAIEMENT"]["MTNET"].to_f)

    .fr-mt-2w.gray-text
      Coordonnées bancaires utilisées :
      %strong= payment_request.rib&.iban_to_s || payment_request.reconstructed_iban&.gsub(/(.{4})/, '\1 ') || payment_request.student.rib(current_establishment)&.iban_to_s || "manquantes"

    .fr-mt-2w.gray-text
      - num_presta_doss = @pfmp.num_presta_doss
      - if !num_presta_doss.nil?
        Numéro de prestation dossier :
        %strong= num_presta_doss

    .fr-mt-2w.gray-text
      Dernière mise à jour le
      - transition = payment_request.last_transition
      - if payment_request.in_state?(:paid) && transition.metadata["PAIEMENT"]["DATEPAIEMENT"]
        - date = Date.strptime(transition.metadata["PAIEMENT"]["DATEPAIEMENT"], "%d/%m/%Y")
      - else
        - date = transition&.updated_at || payment_request.updated_at
      = l(date, format: :long)
