.gray-panel.fr-p-3w.fr-mb-3w
  %div
    .fr-h4
      = number_to_currency pfmp.amount
      à payer
  %div
    = pfmp.day_count
    jours x
    = number_to_currency pfmp.wage.daily_rate
    par jour =
    = number_to_currency(pfmp.day_count * pfmp.wage.daily_rate)
  %div
    = number_to_currency pfmp.wage.yearly_cap
    de plafond maximum par an
  %div.fr-mb-1w
    = number_to_currency pfmp.previously_locked_amount
    engagés par les PFMPs précédemment déclarées.

  - if @pfmp.payment_requests.last.failed? && !@pfmp.payment_requests.active.any?
    .fr-mt-3w
      = link_to t("payment_requests.actions.reset.cta"), reset_payment_request_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn fr-btn--primary'
    .fr-mt-2w
      .fr-alert.fr-alert--info.fr-alert--sm
        = t("payment_requests.actions.reset.warning")
