.gray-panel.fr-p-4w
  %h2= "#{@pfmp.student.full_name} - #{@pfmp.student.classe.label}"
  %h3.fr-h4
    Paiement à envoyer : 
    = number_to_currency(@pfmp.calculate_amount)
  %p.fr-mb-0
    Pour sa PFMP de
    %strong= @pfmp.formatted_dates

.fr-table
  %table
    %tbody
      %tr
        %td Code MEF de la formation
        %td= @pfmp.mef.label
      %tr
        %td Calcul du montant
        %td
          %strong= @pfmp.breakdown
      %tr
        %td Nombre de jours validés
        %td= @pfmp.day_count
      %tr
        %td Taux journalier pour la formation
        %td= number_to_currency(@pfmp.wage.daily_rate)
      %tr
        %td Plafond annuel pour la formation
        %td= number_to_currency(@pfmp.wage.yearly_cap)
      %tr
        %td Total des paiements déjà perçus par l'élève
        %td= number_to_currency(@pfmp.student.used_allowance)
      %tr
        %td Allocation restante à l'élève
        %td= number_to_currency(@pfmp.student.allowance_left)

