- schoolings.sort_by{ |schooling| schooling.classe.school_year.start_year}.reverse.each do |schooling|
  %h2 Scolarités
  - pfmps = schooling.pfmps
  - classe = schooling.classe
  - school_year = classe.school_year
  %section.fr-my-6w
    %h2.fr-h4
      = link_to "#{school_year} - #{classe.label} - #{classe.establishment}", school_year_class_path(school_year, classe)

    = closed_schooling_information_tag(schooling, class: "fr-mb-2w")

    - if pfmps.none?
      %p Aucune PFMP enregistrée pour le moment.
    - else
      .fr-table.fr-table--layout-fixed.fr-table--no-caption
        %table
          %caption Liste des PFMPs de l'élève
          %thead
            %th{scope: "col"} PFMP
            %th{scope: "col"} Paiements
            %th{scope: "col"} Nombre de jours
            %th{scope: "col"} Montant
          %tbody
            - pfmps.each do |pfmp|
              %tr
                %td= link_to_if(classe.establishment.eql?(current_establishment), pfmp.listing_to_s.html_safe, school_year_class_schooling_pfmp_path(school_year, classe, schooling, pfmp), title: "Voir la PFMP #{pfmp.full_dates}")
                %td
                  -if pfmp.latest_payment_request.present?
                    = pfmp.latest_payment_request.status_badge
                %td= pfmp.day_count
                %td
                  %strong= number_to_currency(pfmp.amount)

    - if classe.establishment.eql?(current_establishment)
      = render "pfmps/schooling_buttons", schooling: schooling, school_year: school_year, classe: classe, student: @student
