.fr-grid-row.fr-grid-row--gutters
  .fr-col-md-4
    %h3.fr-h6 Actions générales
    .fr-grid-row
      .fr-col-10
        %ul.fr-btns-group.fr-btns-group--sm
          %li
            .fr-grid-row
              .fr-col-10
                = button_to "Ajouter une PFMP", new_school_year_class_schooling_pfmp_path(school_year, classe, schooling), class: 'fr-btn', method: :get
          - if !student.current_schooling.nil? && student.current_schooling.eql?(schooling) && !schooling.removed?
            %li
              .fr-grid-row.fr-grid-row--middle
                .fr-col-10
                  = button_to "Masquer l'élève de la classe", confirm_removal_school_year_class_schooling_path(school_year, classe, schooling), class: 'fr-btn fr-btn--danger', method: :get
                .fr-col-2
                  = render partial: "shared/tooltip", locals: { message: "remove_student", id: 1 }

  .fr-col-md-4
    %h3.fr-h6 Actions réservées au chef d'établissement
    .fr-grid-row
      .fr-col-10
        %ul.fr-btns-group.fr-btns-group--sm
          - if schooling.generating_attributive_decision.eql?(true)
            %li
              = dsfr_alert(type: :info, title: t("panels.attributive_decisions.generating.title.one"), html_attributes: { class: 'fr-mb-3w' }) do
                %p= t("panels.attributive_decisions.generating.body.one")
          - elsif current_user.can_validate? && !schooling.attributive_decision.attached?
            %li
              .fr-grid-row.fr-grid-row--middle
                .fr-col-10
                  = button_to t("panels.attributive_decisions.generate.one"), create_attributive_decision_school_year_class_schooling_path(selected_school_year, classe, schooling), class: 'fr-btn fr-btn--primary', method: :post

          - disabled = disabled_buttons?(schooling)

          %li
            .fr-grid-row.fr-grid-row--middle
              .fr-col-10
                - if schooling.extended_end_date.nil?
                  - title = "Autoriser un report"
                - elsif schooling.any_extended_pfmp?
                  - title = "Modifier le report"
                - else
                  - title = "Annuler le report"
                = button_to title, confirm_da_extension_school_year_class_schooling_path(selected_school_year, classe, schooling), class: 'fr-btn', method: :get, disabled: disabled
              .fr-col-2
                = render partial: "shared/tooltip", locals: { message: disabled ? "disabled" : "report", id: 2 }

          %li
            .fr-grid-row.fr-grid-row--middle
              .fr-col-10
                = button_to "Abroger la décision d'attribution", confirm_abrogation_school_year_class_schooling_path(school_year, classe, schooling), class: 'fr-btn fr-btn--danger', method: :get, disabled: disabled
              - if disabled
                .fr-col-2
                  = render partial: "shared/tooltip", locals: { message: "disabled", id: 3 }

          -# // Rajouter la condition `schooling.cancellation_decision.attached?` dans `disabled` et dans la `tooltip` si la fonctionnalité est réintroduite
          -# %li
          -#   .fr-grid-row.fr-grid-row--middle
          -#     .fr-col-10
          -#       = button_to "Révoquer la décision d'attribution", confirm_cancellation_decision_school_year_class_schooling_path(school_year, classe, schooling), class: 'fr-btn fr-btn--danger', method: :get, disabled: disabled
          -#     .fr-col-2
          -#       = render partial: "shared/tooltip", locals: { message: disabled ?  "disabled" : "cancellation_decision", id: 4 }


  - if schooling.attributive_decision.attached? || schooling.abrogation_decision.attached? || schooling.cancellation_decision.attached?
    .fr-col-md-4
      %h3.fr-h6 Documents administratifs
      %ul.fr-links-group
        - if schooling.attributive_decision.attached?
          %li
            = link_to url_for(schooling.attributive_decision), class: 'fr-link fr-link--download', download: true do
              Télécharger la décision d'attribution
        - if schooling.abrogation_decision.attached?
          %li
            = link_to url_for(schooling.abrogation_decision), class: 'fr-link fr-link--download', download: true do
              Télécharger l'abrogation
        - if schooling.cancellation_decision.attached?
          %li
            = link_to url_for(schooling.cancellation_decision), class: 'fr-link fr-link--download', download: true do
              Télécharger la décision de retrait
