%h1 Ajouter une PFMP pour #{@student}

= form_with model: @pfmp, url: class_student_pfmps_path(@classe.id, @student.ine), method: "post", builder: DsfrFormBuilder do |form|
  = form.dsfr_error_summary

  = form.dsfr_date_field(:start_date, width: 'xs')
  = form.dsfr_date_field(:end_date, width: 'xs')

  = form.dsfr_submit "Enregistrer"
