.fr-col-md-6
  %h2.fr-h5 Statut

  %p= @pfmp.status_badge

  %p
    %em= t("pfmps.state_explanations.#{@pfmp.current_state}").html_safe

  %h2.fr-h6 Dates

  %p Du #{l @pfmp.start_date} au #{l @pfmp.end_date}

  %h2.fr-h6 Nombre de jours

  %p
    - if @pfmp.in_state?(:pending)
      = dsfr_link_to "À compléter", edit_class_student_pfmp_path(@classe, @student, @pfmp)
    - else
      = @pfmp.day_count

  %h2.fr-h5
    Montant
    - if @pfmp.in_state?(:completed)
      anticipé

  %p= number_to_currency(@pfmp.calculate_amount)

  %h2.fr-h5 Actions
  .fr-btns-group.fr-btns-group--inline
    - if @pfmp.in_state?(:completed)
      = button_to "Valider", validate_class_student_pfmp_path(@classe, @student, @pfmp), class: 'fr-btn'
    = link_to "Modifier la PFMP", edit_class_student_pfmp_path(@classe, @student, @pfmp), class: 'fr-btn fr-btn--secondary'
