.fr-col-md-6
  .fr-mb-3w
    - if @pfmp.in_state?(:completed) && current_user.can_validate?
      - disabled = !@pfmp.can_transition_to?(:validated) # Appel qui génère les erreurs de la validation de la PFMP
      - if @pfmp.errors.any?
        .fr-mb-2w
          = dsfr_alert(type: :warning, title: "Vous ne pouvez pas valider cette PFMP pour les raisons suivantes :") do
            %ul
              - @pfmp.errors.each do |error|
                %li= error.message

    .fr-mb-2w= render partial: "pfmp_badges"

    %p
      %em= t("pfmps.state_explanations.#{@pfmp.current_state}").html_safe
    %p
      %strong PFMP du #{l @pfmp.start_date} au #{l @pfmp.end_date}
    %p
      - if @pfmp.in_state?(:pending)
        = dsfr_link_to "Nombre de jours à compléter", edit_school_year_class_schooling_pfmp_path(selected_school_year, @classe, @schooling, @pfmp)
      - else
        %strong
          = @pfmp.day_count
          jours travaillés

    - if @pfmp.in_state?(:completed) && current_user.can_validate?
      = form_with method: :post, url: validate_school_year_class_schooling_pfmp_path(selected_school_year, @classe, @schooling, @pfmp) do |form|
        = form.submit "Valider", class: "fr-btn fr-btn--primary fr-mb-2w", disabled: disabled
        - if !disabled
          = render partial: "shared/confirmed_director", locals: { message: t("validations.confirm_director") }

    .fr-btns-group.fr-btns-group--inline
      - if @pfmp.can_be_modified? && !@pfmp.can_transition_to?(:rectified) && !@pfmp.in_state?(:rectified)
        = link_to "Modifier la PFMP", edit_school_year_class_schooling_pfmp_path(selected_school_year, @classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
      - else
        = button_tag "Modifier la PFMP", disabled: true, class: 'fr-btn fr-btn--secondary', title: "Vous ne pouvez pas modifier une PFMP dont le paiement est en cours de traitement"
      - if @pfmp.can_be_destroyed?
        = link_to "Supprimer la PFMP", confirm_deletion_school_year_class_schooling_pfmp_path(selected_school_year, @classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
      - else
        = button_tag "Supprimer la PFMP", disabled: true, class: 'fr-btn fr-btn--secondary', title: "Vous ne pouvez pas supprimer une PFMP dont le paiement est en cours de traitement"
      - if @pfmp.can_transition_to?(:rectified)
        = link_to "Gérer un indu", confirm_rectification_school_year_class_schooling_pfmp_path(selected_school_year, @classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
        %button.fr-btn--tooltip.fr-btn{"aria-describedby" => "tooltip-rectification"}
        %span.fr-tooltip.fr-placement{id: "tooltip-rectification", role: "tooltip", "aria-hidden" => "true"}
          %em= "La déclaration d'un indu ne doit se faire que si le montant payé n'est pas conforme au montant réellement dû au titre de la PFMP."
          %ul
            %strong= "Ne sont pas considérés comme des indus :"
            %li= "> Les erreurs de RIB : quand le paiement dû à un élève est versé sur le mauvais compte bancaire. Un formulaire de déclaration à l'ASP est disponible, vous pouvez le récupérer auprès du support de votre DSI académique (communication faite aux ADSI le 9 juillet 2024)."
            %li= "> Les rejets bancaires : quand un paiement est marqué comme envoyé mais que la banque du destinataire l'a rejeté. L'ASP contacte alors directement l'établissement scolaire (communication faite aux ADSI le 2 juillet 2024)."

  - if @pfmp.payment_due?
    %h2.fr-h3 Paiement
    = render partial: "payment_panel", locals: { pfmp: @pfmp }

  - if @pfmp.payment_requests.any?
    %h3.fr-h5
      = "Demande".pluralize(@pfmp.payment_requests.count)
      de paiement

    - if @pfmp.stalled_payment_request?
      = render partial: (@pfmp.latest_payment_request.in_state?(:incomplete) ? "retry_incomplete_payment_request" : "create_payment_request"), locals: { pfmp: @pfmp }
    = render partial: "payment_requests_history"
