.fr-col-md-6
  %h2.fr-h5 Statut

  = render partial: "pfmp_badges"

  %p
    %em= t("pfmps.state_explanations.#{@pfmp.current_state}").html_safe

  %h2.fr-h6 Dates

  %p Du #{l @pfmp.start_date} au #{l @pfmp.end_date}

  %h2.fr-h6 Nombre de jours

  %p
    - if @pfmp.in_state?(:pending)
      = dsfr_link_to "À compléter", edit_class_schooling_pfmp_path(@classe, @schooling, @pfmp)
    - else
      = @pfmp.day_count

  %h2.fr-h5
    Montant
    - if @pfmp.in_state?(:completed)
      anticipé

  - if @pfmp.payments.any?
    - payment = @pfmp.payments.last

    %strong= number_to_currency(payment.amount)

    - req = payment.payment_requests.last

    - if req.present?
      = req.badge
      = req.status_explanation

  %h2.fr-h5 Actions
  .fr-btns-group.fr-btns-group--inline
    - if @pfmp.in_state?(:completed) and current_user.can_validate?
      = button_to "Valider", validate_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn'
    = link_to "Modifier la PFMP", edit_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
    = link_to "Supprimer la PFMP", confirm_deletion_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
