%h1
  PFMP
  = @pfmp.id
  pour
  = @pfmp.student

%ul
  %li
    Date de début :
    = l @pfmp.start_date

  %li
    Date de fin :
    = l @pfmp.end_date

  %li
    Nombre de jours :
    = @pfmp.day_count

  %li
    = @pfmp.breakdown
