.fr-col-md-6
  .fr-mb-3w
    .fr-mb-2w= render partial: "pfmp_badges"

    %p
      %em= t("pfmps.state_explanations.#{@pfmp.current_state}").html_safe
    %p
      %strong PFMP du #{l @pfmp.start_date} au #{l @pfmp.end_date}

    %p
      - if @pfmp.in_state?(:pending)
        = dsfr_link_to "Nombre de jours à compléter", edit_class_schooling_pfmp_path(@classe, @schooling, @pfmp)
      - else
        %strong
          = @pfmp.day_count
          jours
        travaillés

    .fr-btns-group.fr-btns-group--inline
      - if @pfmp.in_state?(:completed) and current_user.can_validate? and @pfmp.can_be_validated?
        = button_to "Valider", validate_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn'
      - else
        = button_tag "Valider", disabled: true, class: 'fr-btn fr-btn--secondary', title: "Vous ne pouvez pas valider cette PFMP car les PFMPs précédentes ne sont pas validées"
      - if @pfmp.can_be_modified?
        = link_to "Modifier la PFMP", edit_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
        = link_to "Supprimer la PFMP", confirm_deletion_class_schooling_pfmp_path(@classe, @schooling, @pfmp), class: 'fr-btn fr-btn--secondary'
      - else
        = button_tag "Modifier la PFMP", disabled: true, class: 'fr-btn fr-btn--secondary', title: "Vous ne pouvez pas modifier une PFMP dont le paiement est en cours de traitement"
        = button_tag "Supprimer la PFMP", disabled: true, class: 'fr-btn fr-btn--secondary', title: "Vous ne pouvez pas supprimer une PFMP dont le paiement est en cours de traitement"


  - if @pfmp.payment_due?
    %h2.fr-h3 Paiement
    = render partial: "payment_panel", locals: { pfmp: @pfmp }

  - if @pfmp.payment_requests.any?
    %h3.fr-h5
      = "Demande".pluralize(@pfmp.payment_requests.count)
      de paiement

    = render partial: "payment_requests"
