- if @pfmps.none?
  .fr-col-md-6
    %p Tout est à jour !

    = dsfr_alert(type: :success, title: "Aucune PFMP à valider") do
      Il n'y aucune PFMP à valider.
- else
  = form_with url: validate_class_student_pfmp_path(@pfmp.classe, @pfmp.student, @pfmp), method: :post do |form|
    .fr-grid-row.fr-grid-row--middle.fr-mb-3w
      = link_to "Modifier la PFMP", edit_class_student_pfmp_path(@pfmp.classe, @pfmp.student, @pfmp), class: 'fr-btn fr-btn--secondary fr-mr-3w'
      = form.submit "Valider cette PFMP et passer à la suivante", class: 'fr-btn'
      .fr-ml-3w
        = @pfmps.count
        restantes

    = render 'pfmp_breakdown'
