= form_with model: [@student, @rib], builder: DsfrFormBuilder, data: {controller: "owner-type", owner_type_student_name_value: [@student.first_name, @student.last_name].join(" ")} do |form|
  = form.dsfr_error_summary

  - current_value = @rib.owner_type

  - if (current_value.eql?("other_person") || current_value.eql?("moral_person")) && @student.adult_at?(Time.zone.today)
    .fr-col-md-6.fr-mb-3w
      = dsfr_alert(type: :warning, title: "L'élève est actuellement majeur") do
        %p Important : Un élève majeur doit obligatoirement être payé sur ses coordonnées bancaires ou celles d'un tiers.
        %p= "Nous avons détecté que l'élève est majeur depuis le #{I18n.l(@student.birthdate + 18.years)}, veuillez donc vérifier que l'option sélectionnée est bien la bonne."

  = render partial: 'ribs/owner_type/owner_type_vertical', locals: { rib: @rib }

  = form.dsfr_text_field(:name, width: 'md-4', data: {"owner_type_target": "studentNameInput"})

  .fr-input-group
  %label.fr-label{for: "rib_iban"}
    = t('activerecord.attributes.rib.iban')
    %span.fr-hint-text
      = t('activerecord.hints.rib.iban').html_safe
  .fr-input-group{
    data: {
      controller: "iban",
      iban_input_class: "fr-input",
      iban_container_class: "iban-container",
      iban_clear_button_class: "iban-clear-button",
      iban_part_class: "iban-part"
    }
  }
    = form.text_field :iban, class: "fr-input fr-input--code fr-col-md-6", data: { iban_target: "originalInput" }

  = form.dsfr_text_field(:bic, code: true, width: 'md-3')

  .fr-btns-group.fr-btns-group--inline.fr-mt-3w
    = link_to "Annuler", student_path(@student), class: 'fr-btn fr-btn--secondary'
    = form.submit nil, { class: 'fr-btn' }
