= form_with model: [@student, @rib], builder: DsfrFormBuilder do |form|
  = form.dsfr_error_summary

  - current_value = @rib.owner_type

  - if (current_value.eql?("other_person") || current_value.eql?("moral_person")) && @student.adult_at?(Time.zone.today)
    .fr-col-md-6.fr-mb-3w
      = dsfr_alert(type: :warning, title: "L'élève est actuellement majeur") do
        %p Important : Un élève majeur doit obligatoirement être payé sur ses coordonnées bancaires ou celles d'un tiers.
        %p= "Nous avons détecté que l'élève est majeur depuis le #{I18n.l(@student.birthdate + 18.years)}, veuillez donc vérifier que l'option sélectionnée est bien la bonne."

  = render partial: 'ribs/owner_type/owner_type_vertical', locals: { current_value: current_value }

  = form.dsfr_text_field(:name, width: 'md-4')

  .fr-input-group{data: { controller: "iban", iban_initial_value: @rib.iban }}
    %label.fr-label.fr-mb-1w
      IBAN
      %span.fr-hint-text= t("activerecord.hints.rib.iban").html_safe
    .fr-btns-group.fr-btns-group--inline{ style: "gap: 5px" }
      - 7.times do |i|
        %input.fr-input.fr-col-md-1{ name: "iban_part_#{i}", type: "text", maxlength: "4", data: { iban_target: "part" } }
    = form.hidden_field(:iban, data: { iban_target: "hidden" })

  = form.dsfr_text_field(:bic, code: true, width: 'md-3')

  .fr-btns-group.fr-btns-group--inline.fr-mt-3w
    = link_to "Annuler", student_path(@student), class: 'fr-btn fr-btn--secondary'
    = form.submit nil, { class: 'fr-btn' }
