- student_id = local_assigns.fetch(:student_id)

%fieldset.fr-fieldset{id: "radio-inline-#{student_id}", "aria-labelledby": "radio-inline-legend-#{student_id} radio-inline-messages-#{student_id}"}
  %legend.fr-fieldset__legend--regular.fr-fieldset__legend{id: "radio-inline-legend-#{student_id}"}
    Les coordonnées bancaires appartiennent à :
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input{id: "radio-inline-personal-#{student_id}", type: "radio", value: "personal", name: "rib[owner_type]"}
      %label.fr-label{for: "radio-inline-personal-#{student_id}"}
        l'élève
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input{id: "radio-inline-other-#{student_id}", type: "radio", value: "other_person", name: "rib[owner_type]"}
      %label.fr-label{for: "radio-inline-other-#{student_id}"}
        un représentant légal ou à un tiers
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input{id: "radio-inline-moral-#{student_id}", type: "radio", value: "moral", name: "rib[owner_type]"}
      %label.fr-label{for: "radio-inline-moral-#{student_id}"}
        une personne morale
  .fr-messages-group{id: "radio-inline-messages-#{student_id}", "aria-live": "assertive"}
