%header.fr-header{role: "banner"}
  .fr-header__body
    .fr-container
      .fr-header__body-row
        .fr-header__brand.fr-enlarge-link
          .fr-header__brand-top
            .fr-header__logo
              %p.fr-logo
                = t("global.sponsor")
            .fr-header__navbar
              %button#button-477.fr-btn--menu.fr-btn{"aria-controls" => "modal-476", "aria-haspopup" => "menu", "data-fr-opened" => "false", title: "Menu"} Menu
          .fr-header__service
            %a{href: "/", title: "Accueil - APLyPro - Direction Interministérielle du Numérique"}
              %p.fr-header__service-title
                = t("global.service_name")
            %p.fr-header__service-tagline
              = t("global.service_description")
        - if current_user
          .fr-header__tools
            .fr-header__tools-links
              %ul.fr-btns-group
                %li
                  %div
                    .fr-px-2w.fr-pb-1w
                      = current_user.name
                    = button_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "fr-btn fr-icon-lock-line"

  #modal-476.fr-header__menu.fr-modal{"aria-labelledby" => "button-477"}
    .fr-container
      %button.fr-btn--close.fr-btn{"aria-controls" => "modal-476", title: "Fermer"} Fermer
      .fr-header__menu-links
      %nav#navigation-478.fr-nav{"aria-label" => "Menu principal", role: "navigation"}
        %ul.fr-nav__list
          - if current_user and not @inhibit_nav
            - %i(home classes validate_all_pfmps).each do |item|
              - path = send("#{item}_path")
              %li.fr-nav__item
                %a.fr-nav__link{ href: path, target: "_self", "aria-current" => current_path?(path) ? "page" : nil }
                  = t("menu.#{item}")
            - if current_user.establishment.present? && current_user.can_authorise?
              %li.fr-nav__item
                %a.fr-nav__link{ href: establishment_invitations_path(@etab), target: "_self", "aria-current" => current_path?(establishment_invitations_path(@etab)) ? "page" : nil }
                  = t("menu.invitations")
