= form_with method: :post, url: school_year_establishment_create_attributive_decisions_path(selected_school_year, establishment), data: { controller: "confirm-director" } do |form|
  .fr-checkbox-group
    = form.check_box :confirmed_director, { checked: current_user.confirmed_director?, id: "create_confirmed_director", data: { confirm_director_target: "checkbox", action: "change->confirm-director#toggleSubmitButton" } }, "1", "0"
    %label.fr-label{for: "create_confirmed_director"}
      = t("panels.attributive_decisions.confirm_director").html_safe
      .fr-text--sm.fr-mt-1w= confirmed_director_information

  = form.submit t("panels.attributive_decisions.generate", count: count), class: "fr-btn fr-btn--secondary", data: { confirm_director_target: "submit" }
