#dashboard-container
  .fr-col.dashboard-section
    = pie_chart({ "Élèves avec DA" => @establishment_facade.attributive_decisions_count, "Élèves sans DA" => @establishment_facade.without_attributive_decisions_count }, colors: ["#4e73df", "#1cc88a"], donut: true)

  .fr-col.dashboard-section
    = pie_chart({ "Élèves avec RIB" => @establishment_facade.ribs_count, "Élèves sans RIB" => @establishment_facade.students_without_rib_count }, colors: ["#4e73df", "#1cc88a"], donut: true)

  .fr-col.dashboard-section
    = column_chart(@establishment_facade.pfmps_counts.transform_keys { |key| t("pfmps.state.#{key}") },
      colors: ["#000091", "#0063cb", "#18753c", "#ce0500"],
      label: "PFMPs par états")

  .fr-col.dashboard-section
    = column_chart(@establishment_facade.payment_requests_counts.transform_keys { |key| t("payment_requests.state.#{key}") },
      colors: ["#000091", "#0063cb", "#18753c", "#ce0500", "#000091", "#0063cb", "#18753c", "#ce0500"],
      label: "Demandes de paiements par états")


