%h2.fr-col Décisions d'attribution
%p= "Nombre d'élèves avec DA : #{@establishment_facade.attributive_decisions_count}"
%p= "Nombre d'élèves sans DA : #{@establishment_facade.without_attributive_decisions_count}"

%h2.fr-col Coordonnées bancaires
%p= "Nombre d'élèves avec RIB : #{@establishment_facade.ribs_count}"

%h2.fr-col Suivi des paiements
%p= pie_chart @establishment_facade.pfmps_counts, label: "PFMPs par états"

