%h1= "Année scolaire #{selected_school_year}"

- if @establishment_facade.students_count <= 0
  = t("errors.school_years.not_found").html_safe
- else
  - chart_colors = ["#000091", "#0063cb", "#18753c", "#ce0500"]

  .fr-grid-row.timeline-row
    .fr-col-md-7
      .gray-panel.timeline-section
        = render 'classes/attributive_decisions_panel'
    .fr-col-md-4.fr-ml-4w
      .chart-container
        = pie_chart({ "Élèves avec DA" => @establishment_facade.attributive_decisions_count, "Élèves sans DA" => @establishment_facade.without_attributive_decisions_count }, colors: [chart_colors[0], chart_colors[1]], donut: true)

  .fr-grid-row.timeline-row
    .fr-col-md-7
      .gray-panel.timeline-section
        %h2 2. Coordonnées bancaires
        %p Afin de pouvoir verser l'allocation aux lycéens, APLyPro a besoin de leurs coordonnées bancaires, de celles d'un responsable légal ou d'un tiers.
        %ul.fr-btns-group
          %li= link_to "Choisir une classe pour saisir des coordonnées bancaires", school_year_classes_path(selected_school_year), class: "fr-btn fr-btn--primary fr-mb-0"
    .fr-col-md-4.fr-ml-4w
      .chart-container
        = pie_chart({ "Élèves avec RIB" => @establishment_facade.ribs_count, "Élèves sans RIB" => @establishment_facade.students_without_rib_count }, colors: [chart_colors[0], chart_colors[1]], donut: true)

  .fr-grid-row.timeline-row
    .fr-col-md-7
      .gray-panel.timeline-section
        %h2 3. Périodes de formation en milieu professionnel
        .fr-grid-row
          - PfmpStateMachine.states.each_with_index do |state, index|
            - if index > 0
              .fr-mx-1w →
            = pfmps_status_count_badge(state.to_sym, @establishment_facade.pfmps_counts[state.to_sym], display_zero: true)
        %p Pour calculer le montant des allocations à envoyer, APLyPro a besoin de connaître le nombre de jours travaillés des PFMPs de chaque élève.
        %ul.fr-btns-group
          %li= link_to "Choisir une classe ou un élève pour saisir une PFMP", school_year_classes_path(selected_school_year), class: "fr-btn fr-btn--primary fr-mb-0"
    .fr-col-md-4.fr-ml-4w
      .chart-container
        = column_chart(@establishment_facade.pfmps_counts.transform_keys { |key| t("pfmps.state.#{key}") },
          colors: chart_colors,
          label: "PFMPs par états")

  .fr-grid-row.timeline-row
    .fr-col-md-7
      .gray-panel.timeline-section
        %h2 4. Demandes de paiements des PFMPs
        .fr-grid-row
          - ASP::PaymentRequestDecorator::PAYMENT_STAGES.each_with_index do |states, index|
            - if index > 0
              .fr-mx-1w →
            .centering-container.fr-mb-2w
              = payment_requests_status_count_badge(states.first, @establishment_facade.payment_requests_counts[states.first], display_zero: true)
              = payment_requests_status_count_badge(states.last, @establishment_facade.payment_requests_counts[states.last], display_zero: false)
        %p La validation du chef d'établissement est nécessaire pour chaque PFMP. Une fois la PFMP validée, une demande de paiement sera envoyée à l'Agence de Services et de Paiement (ASP).
        %ul.fr-btns-group
          - if current_user.can_validate?
            %li= link_to "Consulter et gérer les envois en paiement", school_year_validations_path(selected_school_year), class: "fr-btn fr-btn--primary fr-mb-0"
          - else
            %li= button_to "Vous n'avez pas le droit de valider des PFMPs", "#", class: 'fr-btn fr-btn--primary fr-mb-0', disabled: true
    .fr-col-md-4.fr-ml-4w
      .chart-container
        = column_chart(@establishment_facade.payment_requests_counts.transform_keys { |key| t("payment_requests.state.#{key}") },
          colors: chart_colors,
          label: "Demandes de paiements par états")
