%h1 Année scolaire 2023-2024

.gray-panel#attributive_decision_panel
  = render 'classes/attributive_decisions_panel'

.gray-panel
  .fr-grid-row.fr-grid-row--top
    %h2.fr-col 2. Coordonnées bancaires
    = progress_badge(@establishment_facade.ribs_count, @establishment_facade.students_count, title: "Les coordonnées bancaires sont réutilisées pour un même élève\nà travers toutes les classes qu'il a pu fréquenter.")

  %p Afin de pouvoir verser l'allocation aux lycéens, APLyPro a besoin de leurs coordonnées bancaires, de celles d'un responsable légal ou d'un tiers.
  %ul.fr-btns-group
    %li= link_to "Choisir une classe pour saisir des coordonnées bancaires", classes_path, class: "fr-btn fr-btn--primary fr-mb-0"

.gray-panel
  %h2.fr-col 3. Périodes de formation en milieu professionnel

  .fr-grid-row
    = pfmps_status_count_badge(:pending, @establishment_facade.pfmps_counts[:pending], display_zero: true, class: "fr-mr-1w")
    →
    = pfmps_status_count_badge(:completed, @establishment_facade.pfmps_counts[:completed], display_zero: true, class: "fr-mx-1w")
    →
    = pfmps_status_count_badge(:validated, @establishment_facade.pfmps_counts[:validated], display_zero: true, class: "fr-ml-1w")

  %p Pour calculer le montant des allocations à envoyer, APLyPro a besoin de connaître le nombre de jours travaillés des PFMPs de chaque élève.
  %ul.fr-btns-group
    %li= link_to "Choisir une classe ou un élève pour saisir une PFMP", classes_path, class: "fr-btn fr-btn--primary fr-mb-0"

.gray-panel
  %h2.fr-col 4. Demandes de paiements des PFMPs

  .fr-grid-row
    .centering-container.fr-mb-2w.fr-mr-1w
      = payment_requests_status_count_badge(:pending, 200, display_zero: true)
      = payment_requests_status_count_badge(:incomplete, 2, display_zero: false)
    →
    .centering-container.fr-mb-2w.fr-mx-1w
      = payment_requests_status_count_badge(:sent, 0, display_zero: true)
      = payment_requests_status_count_badge(:rejected, 0, display_zero: false)
    →
    .centering-container.fr-mb-2w.fr-ml-1w
      = payment_requests_status_count_badge(:paid, 0, display_zero: true)
      = payment_requests_status_count_badge(:unpaid, 0, display_zero: false)

  %p APLyPro a besoin de la validation du chef d'établissement pour chaque PFMP. Une fois la PFMP validée, une demande de paiement partira à l'Agence de Services et de Paiement (ASP).
  %ul.fr-btns-group
    - if current_user.can_validate?
      %li= link_to "Valider des PFMPs à envoyer en paiement", validations_path, class: "fr-btn fr-btn--primary fr-mb-0"
    - else
      %li= button_to "Vous n'avez pas le droit de valider des PFMPs", "#", class: 'fr-btn fr-btn--primary fr-mb-0', disabled: true
