.fr-grid-row.fr-grid-row--gutters#login-page
  - [:fim, :masa, :developer].each do |provider|
    .fr-col-md-6.fr-col-12
      = render 'connection_panel',
        name: t("omniauth.#{provider}.title"),
        description: t("omniauth.#{provider}.description"),
        button: t("omniauth.#{provider}.button"),
        path: "/auth/#{provider}"

  .fr-col-md-6.fr-col-12
    = render 'connection_panel',
      name: "Agence de Services et Paiements (ASP)",
      description: "Vous êtes la banque",
      button: "Connexion",
      path: "/auth/asp"


%hr.fr-mt-3w

= render 'shared/faq'
