.fr-grid-row.fr-grid-row--gutters
  .fr-col-md-6.fr-col-s-10
    = dsfr_alert(type: :warning, title: "Lancement national à partir de 14h") do
      L'accès à APLyPro sera ouvert à tous les établissements
      %strong seulement à partir de 14h.

.fr-grid-row.fr-grid-row--gutters#login-page
  - User.omniauth_providers.each do |provider|
    .fr-col-md-6.fr-col-12
      = render 'connection_panel',
        name: t("omniauth.#{provider}.title"),
        description: t("omniauth.#{provider}.description"),
        button: t("omniauth.#{provider}.button"),
        path: omniauth_authorize_path(User, provider)
  .fr-col-md-6.fr-col-12
    = render 'connection_panel',
      name: t("omniauth.mer.title"),
      description: t("omniauth.mer.description"),
      button: t("omniauth.mer.button"),
      path: omniauth_authorize_path(User, :fim)

%hr.fr-mt-3w

.fr-col-md-6
  = render 'shared/faq'
