- current_value = local_assigns.fetch(:current_value)

%fieldset.fr-fieldset{id: "radio", "aria-labelledby": "radio-legend radio-messages"}
  %legend.fr-fieldset__legend--regular.fr-fieldset__legend{id: "radio-legend"}
    = t("activerecord.attributes.missing.owner_type")

    %button.fr-btn--tooltip.fr-btn{"aria-describedby" => "tooltip-owner_type", type: "button"}
    %span.fr-tooltip.fr-placement{id: "tooltip-owner_type", role: "tooltip", "aria-hidden" => "true"}
      %em= t("activerecord.tooltips.rib")
      %strong= t("activerecord.attributes.missing.owner_type_mandate")

  .fr-fieldset__element
    .fr-radio-group
      %input{id: "radio-1", type: "radio", value: "personal", name: "rib[owner_type]", checked: current_value == "personal"}
      %label.fr-label{for: "radio-1"}
        = t("activerecord.attributes.missing.owner_type_personal")
  .fr-fieldset__element
    .fr-radio-group
      %input{id: "radio-2", type: "radio", value: "other_person", name: "rib[owner_type]", checked: current_value == "other_person"}
      %label.fr-label{for: "radio-2"}
        = t("activerecord.attributes.missing.owner_type_other_person")
  .fr-fieldset__element
    .fr-radio-group
      %input{id: "radio-3", type: "radio", value: "moral_person", name: "rib[owner_type]", checked: current_value == "moral_person"}
      %label.fr-label{for: "radio-3"}
        = t("activerecord.attributes.missing.owner_type_moral_person")
  .fr-fieldset__element
    .fr-radio-group
      %input{id: "radio-4", type: "radio", value: "mandate", name: "rib[owner_type]", checked: current_value == "mandate"}
      %label.fr-label{for: "radio-4"}
        = t("activerecord.attributes.missing.owner_type_mandate")
  .fr-messages-group{id: "radio-messages", "aria-live": "assertive"}
