- student_id = local_assigns.fetch(:student_id)
- field_name = local_assigns.fetch(:field_name)
- rib = local_assigns.fetch(:rib)
- current_value = rib.owner_type
- is_new = rib.new_record?

%fieldset.fr-fieldset{id: "radio-inline-#{student_id}", "aria-labelledby": "radio-inline-legend-#{student_id} radio-inline-messages-#{student_id}"}
  %legend.fr-fieldset__legend--regular.fr-fieldset__legend{id: "radio-inline-legend-#{student_id}"}
    = t("activerecord.attributes.missing.owner_type")
    = render partial: "shared/tooltip", locals: { message: "owner_type", id: "#{student_id}" }

  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input{id: "radio-inline-1-#{student_id}", type: "radio", value: "personal", name: field_name, checked: is_new ? true : current_value == "personal", data: {owner_type_target: "personalButton", action: "owner-type#updateName"}}
      %label.fr-label{for: "radio-inline-1-#{student_id}"}
        = t("activerecord.attributes.missing.owner_type_personal")
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input{id: "radio-inline-2-#{student_id}", type: "radio", value: "other_person", name: field_name, checked: !is_new && current_value == "other_person"}
      %label.fr-label{for: "radio-inline-2-#{student_id}"}
        = t("activerecord.attributes.missing.owner_type_other_person")
  .fr-fieldset__element.fr-fieldset__element--inline
    .fr-radio-group
      %input{id: "radio-inline-3-#{student_id}", type: "radio", value: "moral_person", name: field_name, checked: !is_new && current_value == "moral_person"}
      %label.fr-label{for: "radio-inline-3-#{student_id}"}
        = t("activerecord.attributes.missing.owner_type_moral_person")
  .fr-fieldset__element
    .fr-radio-group
      %input{id: "radio-inline-4-#{student_id}", type: "radio", value: "mandate", name: field_name, checked: !is_new && current_value == "mandate"}
      %label.fr-label{for: "radio-inline-4-#{student_id}"}
        = t("activerecord.attributes.missing.owner_type_mandate")
  .fr-messages-group{id: "radio-inline-messages-#{student_id}", "aria-live": "assertive"}
