
.fr-grid-row.fr-grid-row--top
  %h2.fr-col 1. Décisions d'attribution
  = attributive_decisions_progress_badge(@establishment_facade.selected_schoolings, title: "Les décisions d'attribution sont générés pour chaque scolarité,\ny compris pour les élèves sortis de classes.")
%p La décision d'attribution annuelle rend éligible l'élève à percevoir l'allocation, et ce pour chaque classe dans laquelle il a effectué une scolarité.

%p Ce document doit obligatoirement être transmis à l'élève et conservé toute l'année scolaire et il doit être archivé par l'établissement pendant une durée de 10 ans en cas de contrôle de la chaîne des dépenses publiques.


- if current_establishment.some_attributive_decisions_generating?(selected_school_year)
  = dsfr_alert(type: :info, title: t("panels.attributive_decisions.generating.title.other"), html_attributes: { class: 'fr-mt-3w' }) do
    %p= t("panels.attributive_decisions.generating.body.other")
- else
  .buttons-group
    - if current_establishment.some_attributive_decisions?(selected_school_year)
      = attributive_decisions_download_button

    - if :can_try_to_generate_attributive_decisions?
      - if current_establishment.missing_attributive_decisions?(selected_school_year)
        = attributive_decisions_generation_form
      - if current_establishment.some_attributive_decisions?(selected_school_year)
        = render partial: "home/attributive_decision_reissue_form"
