
.fr-grid-row.fr-grid-row--top
  %h2.fr-col 1. Décisions d'attribution
  = progress_badge(@establishment_facade.attributive_decisions_count, @establishment_facade.schoolings_count, title: "Les décisions d'attribution sont générés pour chaque scolarité,\ny compris pour les élèves sortis de classes.")
%p La décision d'attribution annuelle rend éligible l'élève à percevoir l'allocation, et ce pour chaque classe dans laquelle il a effectué une scolarité.

%p Ce document doit obligatoirement être transmis à l'élève et conservé toute l'année scolaire et il doit être archivé par l'établissement pendant une durée de 10 ans en cas de contrôle de la chaîne des dépenses publiques.


- if current_establishment.some_attributive_decisions_generating?(selected_school_year)
  = dsfr_alert(type: :info, title: "Édition des décisions d'attribution en cours", classes: 'fr-mt-3w') do
    %p Les décisions d'attribution sont en train d'être éditées, veuillez rafraichir la page dans quelques minutes. Vous pouvez commencer à remplir des coordonnées bancaires ou des PFMPs pendant ce temps.
- else
  .buttons-group
    - if current_establishment.missing_attributive_decisions?(selected_school_year)
      = attributive_decisions_generation_form
    = attributive_decisions_download_button
    - if current_establishment.with_attributive_decisions?(selected_school_year) && current_user.director?
      = attributive_decisions_reissue_button
