
.fr-grid-row.fr-grid-row--top
  %h2.fr-col 1. Décisions d'attribution
  = indicator_badge(@attributive_decisions_count, @students_count)

%p La décision d'attribution annuelle rend éligible l'élève à percevoir l'allocation. Ce document doit obligatoirement être transmis à l'élève et conservé par l'établissement en cas de contrôle de la chaîne des dépenses publiques.

- if @etab.some_attributive_decisions_generating?
  = dsfr_alert(type: :info, title: "Édition des décisions d'attribution en cours", classes: 'fr-mt-3w') do
    %p Les décisions d'attribution sont en train d'être éditées, veuillez rafraichir la page dans quelques minutes. Vous pouvez commencer à remplir des coordonnées bancaires ou des PFMPs pendant ce temps.
- else
  %ul.fr-btns-group
    - if @etab.missing_attributive_decisions?
      - if current_user.can_generate_attributive_decisions?
        %li= attributive_decisions_generation_button(@etab, klass: "fr-mb-0")
      - else
        %li= cannot_generate_attributive_decisions_button(klass: "fr-mb-0")
    %li= attributive_decisions_download_button(@etab, klass: "fr-mb-0 fr-mt-2")
