
.fr-grid-row.fr-grid-row--top
  %h2.fr-col 1. Décisions d'attribution
  = indicator_badge(@attributive_decisions_count, @students_count)

%p La décision d'attribution annuelle rend éligible l'élève à percevoir l'allocation. Ce document doit obligatoirement être transmis à l'élève et conservé par l'établissement en cas de contrôle de la chaîne des dépenses publiques.

- if @etab.generating_attributive_decisions
  = dsfr_alert(type: :info, title: "Édition des décisions d'attribution en cours", classes: 'fr-mt-3w') do
    %p Les décisions d'attribution sont en train d'être éditées, veuillez rafraichir la page dans quelques minutes. Vous pouvez commencer à remplir des coordonnées bancaires ou des PFMPs pendant ce temps.
- else
  %ul.fr-btns-group
    - if @etab.all_attributive_decisions?
      %li= button_to "Télécharger l'ensemble des décisions d'attribution", establishment_download_attributive_decisions_path(@etab), method: :post, class: 'fr-btn fr-btn--primary', data: { "turbo" => false }
    - else
      - if current_user.can_generate_attributive_decisions?
        %li= button_to "Éditer les décisions d'attribution", establishment_create_attributive_decisions_path(@etab), class: 'fr-btn fr-btn--primary fr-mb-0'
      - else
        %li= button_to "Vous n'avez pas le droit d'éditer les décisions d'attribution", "#", class: 'fr-btn fr-btn--primary fr-mb-0', disabled: true
