
.fr-table.fr-table--no-caption
  %table
    %caption= caption
    %thead
      %th{scope: "col"}
        Élèves
        = "(#{schoolings.count})"
      %th{scole: "col"}
        .fr-grid-row
          .fr-mr-1w Décisions d'attribution
          = attributive_decisions_progress_badge(schoolings)
      %th{scope: "col"}
        .fr-grid-row
          .fr-mr-1w Coordonnées bancaires
          = ribs_progress_badge(schoolings)
      %th{scope: "col"}
        PFMPs et Paiements
        = "(#{nb_pfmps(schoolings)})"

    %tbody
      - schoolings.each do |schooling|
        - student = schooling.student
        %tr
          %td
            = dsfr_link_to student.index_name, student_path(student), title: t("links.students.show", name: student)
          %td
            - if schooling.attributive_decision.present? && !schooling.abrogation_decision.present?
              %p= dsfr_badge(status: :success) { "Éditée" }
              - if schooling.closed?
                = dsfr_link_to "Abroger", confirm_abrogation_school_year_class_schooling_path(selected_school_year, @classe, schooling)
              - if schooling.extended_end_date.present?
                = dsfr_badge(status: :info) { "Reportée" }
              - if schooling.end_date.present?
                %p
                = dsfr_link_to (schooling.extended_end_date.present? ? "Annuler le report" : "Autoriser un report"), confirm_da_extension_school_year_class_schooling_path(selected_school_year, @classe, schooling)
                - if schooling.extended_end_date.blank?
                  = render partial: "shared/tooltip", locals: { message: "report", id: "#{student.id}" }
            - else
              - if schooling.abrogation_decision.present?
                = dsfr_badge(status: :error) { "Abrogée" }
              - else
                = dsfr_badge(status: :error) { "Manquante" }
          %td
            - if student.rib(current_establishment).present?
              %p= dsfr_badge(status: :success) { "Saisies" }
              = dsfr_link_to "Modifier les coordonnées bancaires", edit_student_rib_path(student, student.rib(current_establishment))
            - else
              %p= dsfr_badge(status: :error) { "Non saisies" }
              = dsfr_link_to "Saisir les coordonnées bancaires", new_student_rib_path(student)
          %td
            = render partial: "pfmps_payments_table", locals: { schooling: schooling }
