.fr-grid-row
  .fr-col-md-6
    %p
      Ce formulaire vous permet d'anticiper les périodes de stage pour
      une classe en rajoutant une PFMP simultanément à tous les élèves.

.fr-grid-row
  .fr-col-md-6.fr-mb-3w
    = render 'pfmps/dates_warning'

.fr-grid-row
  .fr-col-md-6.fr-mb-3w
    = dsfr_alert(type: :warning, title: "La PFMP est dupliquées pour chaque élève") do
      La PFMP renseignée est dupliquée pour chaque élève de la classe. Il
      n'est pas possible de la modifier au niveau de la classe passé ce formulaire
      \: vous pourrez les ajuster au cas par cas.

= form_with model: @pfmp, url: create_bulk_pfmp_class_path(@classe), builder: DsfrFormBuilder do |form|
  = form.dsfr_error_summary

  = form.dsfr_date_field(:start_date, width: 'sm-4 md-3 lg-2')
  = form.dsfr_date_field(:end_date, width: 'sm-4 md-3 lg-2')

  = form.dsfr_submit "Enregistrer"
