- if @etab.never_generated_attributive_decisions? && !@etab.generating_attributive_decisions
  = dsfr_alert(type: :info, title: "Génération des décisions d'attribution", classes: 'fr-my-3w fr-col-md-7') do
    %p Les décisions d'attribution sont les documents qui ouvrent les droits à l'allocation. Un document est généré par élève. Voulez-vous générer ces documents maintenant ?

    = button_to "Générer les décisions d'attribution", establishment_create_attributive_decisions_path(@etab), class: 'fr-btn fr-btn--secondary fr-mt-2w'

- if @classes.none?
  %p Nous récupérons la liste de vos élèves.
- else
  .fr-table.fr-table--no-caption
    %table
      %caption.fr-h1 Liste des classes
      %thead
        %th{scope: "col"} Classe
        %th{scope: "col"} Effectif
        %th{scope: "col"} Nombre de PFMPs
        %th{scope: "col"} Coordonnées bancaires
      %tbody
        - @classes.each do |classe|
          %tr
            %td
              = dsfr_link_to classe.to_long_s, classe, title: t("links.classes.show", label: classe.to_long_s)
            %td= classe.students.size
            %td= classe.students.map(&:pfmps).flatten.size
            %td= avancement_ribs(classe)
