- if @classes.none?
  %p Nous récupérons la liste de vos élèves.
- else
  - if @classes.map(&:pfmps).any?
    = render 'pfmp_banner'
  .fr-table
    %table
      %caption.fr-h1 Liste des classes
      %thead
        %th{scope: "col"} Label
        %th{scope: "col"} Catégorie
        %th{scope: "col"} Formation
        %th{scope: "col"} Effectif
        %th{scope: "col"} Nombre de PFMPs
        %th{scope: "col"} Coordonnées bancaires
        %th{scope: "col"} Actions
      %tbody
        - @classes.each do |classe|
          %tr
            %td= classe.label
            %td
              %abbr{title: classe.mef.category }= classe.mef.index
            %td= classe.mef.specialty
            %td= classe.students.size
            %td= classe.students.map(&:pfmps).flatten.size
            %td= avancement_ribs(classe)
            %td=dsfr_link_to 'Voir les élèves', classe
