= render partial: "alert_apprentices"

- if @classes.none?
  %p Nous récupérons la liste de vos élèves.
- else
  .fr-table.fr-table--no-caption
    %table
      %caption.fr-h1 Liste des classes
      %thead
        %th{scope: "col"} Classe
        %th{scope: "col"} Décisions d'attribution
        %th{scope: "col"} Coordonnées bancaires
        %th{scope: "col"} PFMPs
        %th{scope: "col"} Demandes de paiements
      %tbody
        - @classes.each do |classe|
          - nb_students = @classes_facade.nb_students_per_class[classe.id]
          %tr
            %td
              = dsfr_link_to classe.to_long_s, classe, title: t("links.classes.show", label: classe.to_long_s)
            %td= progress_badge @classes_facade.nb_attributive_decisions_per_class[classe.id], nb_students
            %td= progress_badge @classes_facade.nb_ribs_per_class[classe.id], nb_students
            %td
              - PfmpStateMachine.states.each do |state|
                .fr-mb-2w= pfmps_status_count_badge state.to_sym, @classes_facade.nb_pfmps(classe.id, state.to_sym), display_zero: true
            %td
              - ASP::PaymentRequest::PAYMENT_STAGES.each_with_index do |states, index|
                .fr-mb-2w
                  = payment_requests_status_count_badge(states.first, 0, display_zero: true)
                  = payment_requests_status_count_badge(states.last, 0)