%nav.fr-breadcrumb{role: 'navigation'}
  %button.fr-breadcrumb__button Voir le fil d'arianne
  .fr-collapse
    %ol.fr-breadcrumb__list
      %li
        %a.fr-breadcrumb__link{href: classes_path}Liste des classes
      %li
        %a.fr-breadcrumb__link{aria: { current: true }}= @classe

= render 'shared/etab_banner'

%h1= @classe

.fr-table.fr-mt-3w.fr-table--layout-fixed
  %table
    %caption Liste des élèves (#{@classe.students.count})
    %thead
      %th{scope: "col"} INE
      %th{scope: "col"} Nom
      %th{scope: "col"} PFMPs
      %th{scope: "col"} Actions

    %tbody
      - @classe.students.each do |student|
        %tr
          %td= student.ine
          %td= student
          %td= student.pfmps.count
          %td
            -# FIXME: we cannot have the INE in the URL
            = dsfr_link_to "Voir le profil de l'élève", class_student_path(@classe, student)
