= render partial: "alert_apprentices"

.actions.fr-btns-group.fr-btns-group--inline
  = link_to 'Saisir une PFMP pour toute la classe', bulk_pfmp_class_path(@classe), class: 'fr-btn fr-btn--primary'

  - if @nb_pending_pfmp > 0
    = link_to bulk_pfmp_completion_class_path(@classe), class: 'fr-btn fr-btn--secondary' do
      = "Compléter #{@nb_pending_pfmp} #{"PFMP".pluralize(@nb_pending_pfmp)}"
      = dsfr_badge(status: :new, classes: ["fr-badge--sm", "fr-ml-1w"]) do
        = t("pfmps.states.pending")
  

.fr-table.fr-table--no-caption
  %table
    %caption Liste des élèves
    %thead
      %th{scope: "col"}
        Élèves
        = "(#{@nb_students})"
      %th{scope: "col"} 
        PFMPs
        = "(#{@nb_pfmps})"
      %th{scope: "col"} 
        RIB présent
        = "(#{@nb_ribs}/#{@nb_students})"

    %tbody
      - @classe.active_students.each do |student|
        %tr
          %td
            = dsfr_link_to student.index_name, class_student_path(@classe, student), title: t("links.students.show", name: student)
          %td
            %ul
              - student.pfmps.each do |pfmp|
                %li= dsfr_link_to pfmp.listing_to_s, class_student_pfmp_path(@classe, student, pfmp)
              %li= dsfr_link_to "Ajouter une PFMP individuelle", new_class_student_pfmp_path(@classe, student)
          %td
            - if student.rib.present?
              = dsfr_badge(status: :success) { "Oui"}
            - else
              = dsfr_link_to "Saisir les coordonnées bancaires", new_class_student_rib_path(@classe, student)
