.actions.fr-mb-4w
  = link_to 'Saisir une PFMP pour toute la classe', bulk_pfmp_class_path(@classe), class: 'fr-btn fr-btn--secondary'

.fr-table.fr-table--no-caption
  %table
    %caption Liste des élèves (#{@classe.students.count})
    %thead
      %th{scope: "col"} Élève
      %th{scope: "col"} PFMPs
      %th{scope: "col"} RIB présent

    %tbody
      - @classe.students.each do |student|
        %tr
          %td
            = dsfr_link_to student.index_name, class_student_path(@classe, student), title: t("links.students.show", name: student)
          %td
            %ul
              - student.pfmps.each do |pfmp|
                %li= dsfr_link_to pfmp.listing_to_s, class_student_pfmp_path(@classe, student, pfmp)
              %li= dsfr_link_to "Ajouter une PFMP individuelle", new_class_student_pfmp_path(@classe, student)
          %td
            - if student.rib.present?
              = dsfr_badge(status: :success) { "Oui"}
            - else
              = dsfr_link_to "Saisir les coordonnées bancaires", new_class_student_rib_path(@classe, student)
