%p= @classe.mef.category
%p= @classe.mef.specialty

.fr-table.fr-table--layout-fixed
  %table
    %caption Liste des élèves (#{@classe.students.count})
    %thead
      %th{scope: "col"} INE
      %th{scope: "col"} Nom
      %th{scope: "col"} Prénom
      %th{scope: "col"} RIB présent
      %th{scope: "col"} Actions

    %tbody
      - @classe.students.each do |student|
        %tr
          %td= student.ine
          %td= student.last_name
          %td= student.first_name
          %td
            - if student.rib.present?
              = dsfr_badge(status: :success) { "Oui"}
            - else
              = dsfr_badge(status: :warning) { "Non"}
          %td
            -# FIXME: we cannot have the INE in the URL
            = dsfr_link_to "Voir le profil de l'élève", class_student_path(@classe, student)
