= form_with model: [@etab, @invitation], builder: DsfrFormBuilder do |form|
  = form.dsfr_error_summary

  .fr-col-md-6
    = form.dsfr_text_field(:email, type: "email")

    = form.submit "Autoriser l'email", { class: 'fr-btn' }

    = dsfr_alert(type: :warning, title: t("invitations.alert.#{current_user.provider}"), classes: 'fr-my-3w') do
      %p
        L'email renseigné doit impérativement pouvoir se connecter via le portail de connexion du 
        = t("omniauth.#{current_user.provider}.title")
        pour pouvoir accéder à APLyPro.
