.home.fr-container
  #academic-map-container{
      data: {
        controller: "academic_map",
        selected_academy_value: @selected_academy.html_safe,
        establishments_for_academy: @establishments_for_academy.to_json.html_safe,
        nb_schoolings_per_establishments: @nb_schoolings_per_establishments.to_json.html_safe,
        amounts_per_establishments: @amounts_per_establishments.to_json.html_safe,
    }
  }
    %h2= "Académie #{@selected_academy}"
    %h5= "Répartition géographique des #{@establishments_for_academy.count} établissements"
    .fr-grid-row
      .fr-col-12.fr-col-md-6
        #map-container
      .fr-col-12.fr-col-md-6
        .establishments-table-container
          .fr-table
            %table.establishments-table
              %thead
                %td{scope: "col"} UAI
                %th{scope: "col"} Adresse
                %th{scope: "col"} Nombre de scolarités
                %th{scope: "col"} Montant total payé
              %tbody
                - @establishments_for_academy.each do |establishment|
                  %tr.academic-map{
                    data: {
                      uai: establishment.uai,
                      action: "click->academic_map#selectEstablishment"
                    }
                  }
                    %td= establishment.uai
                    %td= "#{establishment.address_line1}, #{establishment.city}, #{establishment.postal_code}"
                    %td= @nb_schoolings_per_establishments[establishment.uai]
                    %td= @amounts_per_establishments[establishment.uai]
