%h2.fr-mt-2w= "Établissement: #{@establishment_data[@etab.uai][:name]}"

.fr-container.fr-my-4w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-6
      .fr-card.fr-card--shadow
        .fr-card__body
          %h3.fr-card__title Informations générales
          .fr-card__content
            %ul.fr-list
              %li
                %strong UAI:
                = @etab.uai
              %li
                %strong Nombre de scolarités:
                = @establishment_data[@etab.uai][:schooling_count]
              %li
                %strong Montant payé:
                = number_to_currency(@establishment_data[@etab.uai][:paid_amount], unit: "€", format: "%n %u")

    .fr-col-12.fr-col-md-6
      .fr-card.fr-card--shadow
        .fr-card__body
          %h3.fr-card__title Directeurs associés
          .fr-card__content
            - if @directors.empty?
              .fr-alert.fr-alert--info
                %p.fr-alert__title Aucun directeur trouvé pour cet établissement.
            - else
              .fr-table.fr-table--no-caption
                %table
                  %caption Liste des directeurs de l'établissement
                  %thead
                    %tr
                      %th{scope: "col"} Nom
                      %th{scope: "col"} Email
                      %th{scope: "col"} Statut
                  %tbody
                    - @directors.each do |user|
                      %tr
                        %td
                          %strong= user.name
                        %td= user.email
                        %td
                          - if @etab.confirmed_director_id == user.id
                            %span.fr-badge.fr-badge--success
                              Directeur confirmé
                          - else
                            %span.fr-badge.fr-badge--info
                              Directeur non confirmé
            .fr-mt-3w
              = link_to "Voir tous les utilisateurs", users_academic_establishment_path(@etab), class: "fr-btn fr-btn--secondary"

.fr-container
  = render 'academic/establishments/establishment_timeline'

.fr-container
  .fr-grid-row.fr-mb-4w
    .fr-col-12
      = link_to "Retour à la carte des établissements", academic_home_path, class: "fr-btn fr-btn--secondary", data: { turbo: false }
