.fr-col-md-6.fr-mt-3w
  %ul
    %li
      Classe :
      %span= @schooling.classe.label
    %li
      INE :
      %code= student.ine
    %li
      Prénom :
      %span= student.first_name
    %li
      Nom :
      %span= student.last_name
    %li
      Date de naissance :
      %span= student.birthdate