.fr-container
  .fr-grid-row
    .fr-col-md-6.fr-mb-3w
    - if @schooling.extended_end_date.present?
      = dsfr_alert(type: :warning, title: "Êtes-vous certain(e) de vouloir supprimer le report de cette décision d'attribution ?")
    - else
      = dsfr_alert(type: :warning, title: "Êtes-vous certain(e) de vouloir reporter cette décision d'attribution ?")

  .fr-grid-row
    .fr-col-md-6.fr-mb-3w
    = form_with model: @schooling, url: school_year_class_schooling_path(selected_school_year, @classe, @schooling), method: :patch, builder: DsfrFormBuilder, data: { turbo: false } do |form|
      %ul
        %li
          Etudiant :
          %span= @schooling.student.full_name

        %li
          Classe :
          %span= @schooling.classe.to_long_s

        %li
          Date de fin initiale :
          %span= @schooling.end_date.to_s

      .fr-col-md-6
        = form.dsfr_date_field :extended_end_date, value: @schooling.extended_end_date, disabled: @schooling.extended_end_date.present?

      .fr-col-md-6.fr-mt-3w
        = render partial: "shared/confirmed_director", locals: { message: t("panels.attributive_decisions.confirm_director") }

      .fr-btns-group.fr-btns-group--inline.fr-mt-3w
        = link_to "Annuler", school_year_class_path(selected_school_year, @classe), class: 'fr-btn fr-btn--secondary'
        - if @schooling.extended_end_date.present?
          = form.hidden_field :extended_end_date, value: nil
          = form.submit "Supprimer le report", class: 'fr-btn fr-btn--danger fr-btn--secondary'
        - else
          = form.submit "Confirmer le report", class: 'fr-btn fr-btn--danger fr-btn--secondary'
