%section.fr-pb-3w
  %h2.fr-h4 Coordonnées bancaires
  - if @student.rib(current_establishment).nil?
    %p Aucune coordonnée bancaire enregistrée pour le moment.

  - else
    %ul
      %li
        Titulaire du compte :
        %span= @student.rib(current_establishment).name
      %li
        IBAN :
        %code= @student.rib(current_establishment).iban
      %li
        BIC :
        %code= @student.rib(current_establishment).bic
      %li
        Dernière modification :
        %span= format_date @student.rib(current_establishment).updated_at

%section.fr-pb-3w
  %h2.fr-h4 PFMPs de l'élève
  - if @student.schoolings.none?
    %p Aucune PFMP enregistrée pour le moment.
  - else
    .fr-table.fr-table--layout-fixed.fr-table--no-caption
      %table
        %caption Liste des PFMPs de l'élève
        %thead
          %th{scope: "col"} Année scolaire
          %th{scope: "col"} Classe
          %th{scope: "col"} PFMP
          %th{scope: "col"} Statut paiement
          %th{scope: "col"} Motif
          %th{scope: "col"} Nombre de jours
          %th{scope: "col"} Montant
        %tbody
          - @student.schoolings.includes(:classe, :pfmps).each do |schooling|
            - schooling.pfmps.each do |pfmp|
              %tr
                %td= schooling.classe.school_year.to_s
                %td= schooling.classe.label
                %td= pfmp.listing_to_s.html_safe
                %td
                  - if pfmp.latest_payment_request.present?
                    = pfmp.latest_payment_request.status_badge
                  - else
                    %span.fr-badge.fr-badge--sm Aucune demande
                %td
                  - if pfmp.latest_payment_request.present?
                    = pfmp.latest_payment_request.status_explanation
                %td= pfmp.day_count
                %td
                  %strong= number_to_currency(pfmp.amount)
