= render partial: 'ribs/informations', locals: { student: @student, display_buttons: false }

%section.fr-pb-3w
  %h2.fr-h4 Scolarités et décisions d'attribution
  .fr-table.fr-table--layout-fixed.fr-table--no-caption
    %table
      %caption Liste des scolarités et décisions d'attribution de l'élève
      %thead
        %th{scope: "col"} Année scolaire
        %th{scope: "col"} Classe
        %th{scope: "col"} Établissement
        %th{scope: "col"} Décision d'attribution
      %tbody
        - @schoolings.sort_by { |schooling| schooling.classe.school_year.start_year }.reverse_each do |schooling|
          %tr
            %td= schooling.classe.school_year.to_s
            %td= schooling.classe.label
            %td= link_to schooling.establishment.name, academic_establishment_path(schooling.establishment), class: "fr-link"
            %td= attributive_decision_status_badge(schooling)

%section.fr-pb-3w
  %h2.fr-h4 PFMPs de l'élève
  - if pfmps?(@schoolings)
    - filtered_schoolings = schoolings_with_pfmps(@schoolings)
    .fr-table.fr-table--no-caption
      %table
        %caption Liste des PFMPs de l'élève
        %thead
          %th{scope: "col"} ID
          %th{scope: "col"} Année scolaire
          %th{scope: "col"} Classe
          %th{scope: "col"} PFMP
          %th{scope: "col"} Statut paiement
          %th{scope: "col", style: "width: 30%"} Motif
          %th{scope: "col"} Nombre de jours
          %th{scope: "col"} Montant
        %tbody
          - filtered_schoolings.each do |schooling|
            - schooling.pfmps.order(start_date: :desc).each do |pfmp|
              %tr
                %td= link_to pfmp.id, academic_student_pfmp_path(@student, pfmp), class: "fr-link"
                %td= schooling.classe.school_year.to_s
                %td= schooling.classe.label
                %td= pfmp.listing_to_s.html_safe
                %td
                  - if pfmp.latest_payment_request.present?
                    = pfmp.latest_payment_request.status_badge
                    - if pfmp.latest_payment_request.last_update_date.present?
                      %br
                      %small.fr-text--xs= "Mis à jour le #{pfmp.latest_payment_request.last_update_date}"
                  - else
                    %span.fr-badge.fr-badge--sm Aucune demande
                %td
                  - if pfmp.latest_payment_request.present?
                    = pfmp.latest_payment_request.status_explanation
                %td= pfmp.day_count
                %td
                  %strong= number_to_currency(pfmp.amount)
  - else
    %p Aucune PFMP enregistrée pour le moment.
