- if current_user.can_validate?
  - if @validatable_classes.empty?
    Il n'y a aucune PFMP à valider pour l'instant.
  - else
    .fr-table.fr-table
      %table
        %caption.fr-h2
          = t("pages.titles.validations.classes")
        %thead
          %th{scope: "col"} Classe
          %th{scope: "col"} Décisions d'attribution
          %th{scope: "col"} Coordonnées bancaires
          %th{scope: "col"} PFMPs à valider
        %tbody
          - @validatable_classes.each do |classe|
            %tr
              %td= dsfr_link_to classe.to_long_s, validation_school_year_class_path(selected_school_year, classe), title: t("links.classes.show", label: classe.to_long_s)
              %td= attributive_decisions_progress_badge(classe.schoolings.without_removed_students)
              %td= ribs_progress_badge(classe.schoolings.without_removed_students)
              %td= pfmps_status_count_badge :completed, @classes_facade.nb_pfmps(classe.id, :completed)

= render partial: 'pfmps/failed_pfmps', locals: { failed_pfmps_per_payment_request_state: @validations_facade.failed_pfmps_per_payment_request_state }
