
.fr-grid-row.fr-grid-row--middle
  .gray-panel.fr-mb-3w.fr-p-3w.fr-mr-md-3w
    %h2.fr-h4
      = @total_amount
      € à valider
    .fr-grid-row.fr-grid-row--middle
      .fr-mr-2w
        = @pfmps.count
        = "PFMP".pluralize @pfmps.count
      = pfmp_status_badge(:completed)

  .gray-panel.fr-col-md.fr-mb-3w.fr-p-3w
    %h2.fr-h4.mef-label= @classe.mef.label
    .fr-grid-row
      .fr-mr-3w
        %strong
          = @classe.mef.wage.daily_rate
          €
        par jour travaillé
      %div
        %strong
          = @classe.mef.wage.yearly_cap
          €
        de plafond annuel

= form_with scope: :validation, method: :post, url: validation_school_year_class_path(selected_school_year, @classe) do |form|
  .fr-table.fr-table--no-caption.fr-mb-3w
    %table
      %caption Liste des pfmps à valider
      %thead
        %th{scope: "col"}
          Élèves
        %th{scope: "col"}
          PFMP
        %th{scope: "col"}
          Nombre de jours
        %th{scope: "col"}
          Montant

      %tbody
        = form.collection_check_boxes "pfmp_ids", @pfmps, :id, :student_index_name, include_hidden: false do |f|
          - pfmp = f.object
          %tr
            %td
              .fr-grid-row
                .fr-checkbox-group
                  - disabled = !pfmp.fully_completed?
                  - title = disabled ? t("pfmps.not_fully_completed") : ""
                  = f.check_box checked: !disabled, disabled: disabled, title: title
                  = f.label class: 'fr-label'
                %ul.fr-badge-group.fr-ml-md-2w
                  %li= attributive_decision_badge(pfmp.schooling)
                  %li= rib_badge(pfmp.student)
              = closed_schooling_information_tag(pfmp.schooling, class: "fr-mt-1w")

            %td
              = link_to pfmp.formatted_dates, edit_school_year_class_schooling_pfmp_path(selected_school_year, @classe, pfmp.schooling, pfmp), class: "fr-link", title: pfmp.full_dates
            %td
              = pfmp.day_count
              jours
            %td
              = number_to_currency(pfmp.amount)

  .fr-grid-row.fr-grid-row--top
    .fr-mb-2w.fr-mr-md-2w
      = form.submit t("validations.validate"), class: "fr-btn fr-btn--primary"
      = render partial: "shared/confirmed_director", locals: { message: t("validations.confirm_director") }

