= render partial: 'search-bar'

- if @attributive_decision_number.blank?
  .fr-mb-5w
    Entrez un numéro de décision d'attribution pour lancer une recherche

- elsif @schoolings.none?
  .fr-mb-5w
    Aucune décision d'attribution trouvée avec le numéro : #{@attributive_decision_number}

- else
  .fr-table
    %table
      %caption #{@schoolings.count} résultats trouvés pour la recherche : #{@attributive_decision_number}
      %thead
        %td{scope: "col"} Dossiers
        %th{scope: "col"} Élèves
        %th{scope: "col"} Dernière classe
      %tbody
        - @schoolings.each do |schooling|
          %tr
            %td= dsfr_link_to schooling.attributive_decision_number, asp_schooling_path(schooling)
            %td= schooling.student.full_name
            %td= schooling.classe.label
          