= render partial: 'search-bar'

%h1.fr-mb-5w= @page_title

.fr-my-3w
  - if @schooling.attributive_decision.present?
    = link_to "Télécharger la décision d'attribution", url_for(@schooling.attributive_decision), class: 'fr-btn fr-btn--secondary', target: :download
  - else
    Aucune décision d'attribution éditée

.fr-table.fr-table--no-caption
  %table
    %thead
      %th{colspan: 2} Élève
    %tbody
      %tr
        %td Nom
        %td= @schooling.student.last_name
      %tr
        %td Prénom
        %td= @schooling.student.first_name
      %tr
        %td Date de naissance
        %td= l @schooling.student.birthdate
      %tr
        %td Code INSEE de la ville de naissance
        %td= display_insee_code(@schooling.student.birthplace_city_insee_code)
      %tr
        %td Code INSEE du pays de naissance
        %td= display_insee_code(@schooling.student.birthplace_country_insee_code)

.fr-table.fr-table--no-caption
  %table
    %thead
      %th{colspan: 2} Établissement
    %tbody
      %tr
        %td UAI
        %td= @schooling.establishment.uai
      %tr
        %td Nom
        %td= @schooling.establishment.name
      %tr
        %td Email
        %td= @schooling.establishment.email
.fr-table.fr-table--no-caption
  %table
    %thead
      %th{colspan: 2} Formation
    %tbody
      %tr
        %td Forfait journalier
        %td= number_to_currency @schooling.mef.wage.daily_rate
      %tr
        %td Plafond annuel
        %td= number_to_currency @schooling.mef.wage.yearly_cap


.fr-table.fr-table--no-caption
  %table
    %thead
      %th{colspan: 2} Coordonnées bancaires
    %tbody
      - rib = @schooling.student.rib(@schooling.establishment)
      - if rib.blank?
        %tr
          %td Pas de coordonnées bancaires renseignées
      - else
        %tr
          %td Nom du RIB
          %td= rib.name
        %tr
          %td IBAN
          %td= rib.iban
        %tr
          %td BIC
          %td= rib.bic
        %tr
          %td RIB appartient à l'élève ?
          %td= rib.personal? ? "Oui" : "Non"

%h2 Demandes de paiements
- if @pfmps.blank?
  Aucune demande de paiement envoyée
- else
  = render partial: "pfmps"
