.fr-container
  %h1.fr-h3 Invitations académiques

  %p.fr-text--sm.fr-mb-3w
    = link_to "Retour aux outils de gestion", academic_tools_path, class: "fr-link fr-icon-arrow-left-line fr-link--icon-left"

  - if @invitations.any?
    .fr-table.fr-table--bordered
      %table
        %caption Liste des invitations académiques que vous avez créées
        %thead
          %tr
            %th{scope: "col"} Email
            %th{scope: "col"} Académies
            %th{scope: "col"} Date d'invitation
        %tbody
          - @invitations.each do |invitation|
            %tr
              %td= invitation.email
              %td
                - invitation.academy_codes.each do |code|
                  %span.fr-tag.fr-tag--sm.fr-mr-1v= "#{code} - #{Establishment::ACADEMY_LABELS[code]}"
              %td= l(invitation.created_at, format: :short)
  - else
    .fr-callout
      %p.fr-callout__text
        Aucune invitation académique n'a été créée pour le moment.
