- content_for(:page_title) { "Liste des établissements" }

.fr-table
  %table
    %caption Établissements connus (#{@etabs.count})
    %thead
      %th{scope: "col"}= Establishment.human_attribute_name("uai")
      %th{scope: "col"}= Establishment.human_attribute_name("name")
    %tbody
      - @etabs.each do |e|
        %tr
          %td= e.uai
          %td= e.name
