!!!
%html{"data-fr-scheme" => "system"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      - if content_for?(:page_title)
        = yield(:page_title)
      - else
        = @page_title
      \- #{t("global.service_name")}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "noindex, nofollow", :name => "robots"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "dsfr.min.css", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "dsfr.module.min.js", type: 'module'
    = javascript_include_tag "dsfr.nomodule.min.js", nomodule: true
    = javascript_importmap_tags
    = favicon_link_tag "favicon/favicon.ico"
  %body
    = render 'shared/skiplinks'
    = render 'shared/analytics' if Rails.env.production?
    = render 'academic/shared/header'
    - unless @inhibit_banner
      - if defined?(selected_academy) && selected_academy
        = render 'academic/shared/academy_banner'
        = render 'academic/shared/welcome_banner'
    .fr-container
      %main#main.fr-pt-3w.fr-pb-6w
        = render 'shared/flash'
        - if academic_user_signed_in?
          = render_breadcrumbs(builder: DsfrHelper::BreadcrumbBuilder)
          - if @page_title and not @inhibit_title
            %h1.fr-mb-5w= @page_title
        = yield
    = render 'shared/footer'
    = render 'shared/shim'
